@*<div class="row dashboard-subheader" style="background-color: #80808061; height: 200px; margin-top: -25px; margin-left: -30px; margin-right: -30px; ">
    <div class="col-lg-12">
        <h2>Dashborad</h2>

    </div>
</div>*@


<div class="row" style="padding: 25px 20px 10px;">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 blue" href="#">
                <div class="visual">
                    <i class="fa fa-tag"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span> <i class="fa fa-tag"></i></span>
                    </div>
                    <div class="desc"> Discount Schemes </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 red" href="#">
                <div class="visual">
                    <i class="fa fa-tags"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span><i class="fa fa-tags"></i></span>
                    </div>
                    <div class="desc"> Coupons </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 green" href="#">
                <div class="visual">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span><i class="fa fa-shopping-cart"></i></span>
                    </div>
                    <div class="desc"> Plans </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 purple" href="#">
                <div class="visual">
                    <i class="fa fa-cart-arrow-down"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span>
                            <i class="fa fa-cart-arrow-down"></i>
                        </span>
                    </div>
                    <div class="desc"> Products </div>
                </div>
            </a>
        </div>
    </div>
